@font-face {
  font-family: '04b_03';
  src: url('../fonts/04b_03.ttf');
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-spacing: 0;
}

body {
  margin:0;
  background-color: #8bc34a;
  font-family: '04b_03';
  text-transform: uppercase;
}

button {
  font:inherit;
  cursor:pointer;
  outline:none;
}

a {
  color:#000;
}

div.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

div.middle {
  display: table-cell;
  vertical-align: middle;
}

div.inner {
  margin:0 auto;
  text-align:center;
}

div.title {
  font-size:48px;
  font-weight: normal;
  white-space: nowrap;
  color:#fff;
  text-shadow: rgb(0, 0, 0) 5px 0px 0px, rgb(0, 0, 0) 4px 1px 0px, rgb(0, 0, 0) 4px 1px 0px, rgb(0, 0, 0) 4px 2px 0px, rgb(0, 0, 0) 3px 3px 0px, rgb(0, 0, 0) 2px 4px 0px, rgb(0, 0, 0) 1px 4px 0px, rgb(0, 0, 0) 0px 4px 0px, rgb(0, 0, 0) 0px 5px 0px, rgb(0, 0, 0) -1px 4px 0px, rgb(0, 0, 0) -2px 4px 0px, rgb(0, 0, 0) -2px 4px 0px, rgb(0, 0, 0) -3px 3px 0px, rgb(0, 0, 0) -4px 2px 0px, rgb(0, 0, 0) -4px 1px 0px, rgb(0, 0, 0) -4px 0px 0px, rgb(0, 0, 0) -5px 0px 0px, rgb(0, 0, 0) -4px -1px 0px, rgb(0, 0, 0) -4px -2px 0px, rgb(0, 0, 0) -3px -3px 0px, rgb(0, 0, 0) -3px -3px 0px, rgb(0, 0, 0) -2px -4px 0px, rgb(0, 0, 0) -1px -4px 0px, rgb(0, 0, 0) 0px -4px 0px, rgb(0, 0, 0) 0px -4px 0px, rgb(0, 0, 0) 1px -4px 0px, rgb(0, 0, 0) 2px -4px 0px, rgb(0, 0, 0) 3px -3px 0px, rgb(0, 0, 0) 3px -3px 0px, rgb(0, 0, 0) 4px -2px 0px, rgb(0, 0, 0) 4px -1px 0px, rgb(0, 0, 0) 4px 0px 0px;
}

@media (max-width: 600px) {
  div.title {
    font-size:36px;
  }
}

div.title, div.buttons, div.footer {
  margin: 25px 0;
}

div.footer {
  padding-top:20px;
}

div.footer div {
  display:inline-block;
  margin:0 5px;
}

div.footer a {
  text-decoration: none;
}

div.footer img#owumaro {
  width:48px;
}

@media (max-width: 600px) {
  div.footer {
    font-size:12px;
  }

  div.footer img#owumaro {
    width:32px;
  }

  div.footer img#googleplay {
    width:114px;
  }
}

button {
  background-color:#000;
  color:#fff;
  border:0;
  border-radius:6px;
  padding:10px 15px;
  margin: 15px;
  text-transform: uppercase;
  font-size: 24px;
}

@media (max-width: 600px) {
  button {
    font-size:18px;
    padding:7px 10px;
    margin: 5px;
  }
}

button.hover {
  background-color:#fff;
}

/* Intro */
#intro canvas {
  max-width:80%;
}

/* Game */
#game {
  position:absolute;
  width:100%;
  height:100%;
}

#game canvas {
  display: block;
  margin:0 auto;
}

#game #score {
  position:absolute;
  margin-top:15px;
  width:100%;
  text-align: center;
  font-size:64px;
  color:#fff;
  text-shadow: rgb(0, 0, 0) 5px 0px 0px, rgb(0, 0, 0) 4px 1px 0px, rgb(0, 0, 0) 4px 1px 0px, rgb(0, 0, 0) 4px 2px 0px, rgb(0, 0, 0) 3px 3px 0px, rgb(0, 0, 0) 2px 4px 0px, rgb(0, 0, 0) 1px 4px 0px, rgb(0, 0, 0) 0px 4px 0px, rgb(0, 0, 0) 0px 5px 0px, rgb(0, 0, 0) -1px 4px 0px, rgb(0, 0, 0) -2px 4px 0px, rgb(0, 0, 0) -2px 4px 0px, rgb(0, 0, 0) -3px 3px 0px, rgb(0, 0, 0) -4px 2px 0px, rgb(0, 0, 0) -4px 1px 0px, rgb(0, 0, 0) -4px 0px 0px, rgb(0, 0, 0) -5px 0px 0px, rgb(0, 0, 0) -4px -1px 0px, rgb(0, 0, 0) -4px -2px 0px, rgb(0, 0, 0) -3px -3px 0px, rgb(0, 0, 0) -3px -3px 0px, rgb(0, 0, 0) -2px -4px 0px, rgb(0, 0, 0) -1px -4px 0px, rgb(0, 0, 0) 0px -4px 0px, rgb(0, 0, 0) 0px -4px 0px, rgb(0, 0, 0) 1px -4px 0px, rgb(0, 0, 0) 2px -4px 0px, rgb(0, 0, 0) 3px -3px 0px, rgb(0, 0, 0) 3px -3px 0px, rgb(0, 0, 0) 4px -2px 0px, rgb(0, 0, 0) 4px -1px 0px, rgb(0, 0, 0) 4px 0px 0px;
}

@media (max-width: 600px) {
  #game #score {
    font-size:42px;
  }
}

/* Lose */
#lose .inner {
  max-width:600px;
}

/* Scores */
#scores table {
  max-width:500px;
  margin:10px auto;
  font-size:24px;
  border:0;
  height: 250px;
}

#scores table thead {
  border-bottom:3px solid #000;
}

#scores table tbody tr td {
  padding:3px 15px;
}

#scores table tbody tr td:nth-child(2) {
  min-width:100px;
  font-size:32px;
}

#scores table tbody tr:nth-child(1) td span {
  background-color:#ffce00;
}

#scores table tbody tr:nth-child(2) td span {
  background-color:#bfbfbf;
}

#scores table tbody tr:nth-child(3) td span {
  background-color:#ef9300;
}

#scores table tbody tr td span {
  display:inline-block;
  width:30px;
  height:30px;
  line-height:30px;
  border-radius:6px;
  padding:3px 0 0 3px;
}

/* Sound */
#sound {
  position:absolute;
}

#sound button {
  padding:7px 10px;
  line-height: 0;
  cursor:pointer;
}

@media (max-width: 600px) {
  #sound button {
    padding:5px 7px;
  }

  #sound button img {
    width:30px;
  }
}